[user]
    name = Martin Stiborský
    email = martin.stiborsky@gmail.com
    signingkey = E7B551FD804341A8

[core]
    editor = vim
    pager = diff-so-fancy | less --tabs=4 -RFX
    #pager = delta
    excludesfile = /home/stibi/.gitignore

[commit]
    gpgsign = true

[color]
    status = auto
    branch = auto
    ui = true

[diff]
    colorMoved = default

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    le = log --oneline --decorate
    la = "!git config -l | grep alias | cut -c 7-"
    co = checkout
    st = status
    ci = commit
    br = branch -v
    brd = branch -d
    brdd = branch -D
    wip = !"git add -A; git ls-files --deleted -z | xargs -0 git rm; git commit -m \"wip\""
    unwip = !"git log -n 1 | grep -q -c wip && git reset HEAD~1"
    ahead = log origin/dev..HEAD
    amend = commit --amend -C HEAD
    undo = reset --soft HEAD^
    standup = log --since '1 day ago' --oneline --author martin.stiborsky@gmail.com
    pu = pull
    pur = pull --rebase
    cam = commit -am
    ca = commit -a
    cm = commit -m
    ci = commit
    ds = diff --staged
    cob = checkout -b
    unstage = reset HEAD --
    verbs = !git log --pretty=format:'%s' | cut -d \" \" -f 1 | sort | uniq -c | sort -nr
    lol = log --graph --pretty=format:\"%C(yellow)%h%Creset%C(cyan)%C(bold)%d%Creset %C(cyan)(%cr)%Creset %C(green)%ce%Creset %s\"
    # Thanks! https://filip-prochazka.com/blog/git-fixup
    #cif = "!git commit --fixup=HEAD"
    cif = "!git commit --fixup=$(git-log-vgrep-most-recent-commit 'fixup!')"
    rbi = "rebase -i --autosquash"
    pf = push --force-with-lease
    # http://www.janosgyerik.com/an-easy-way-to-push-the-current-branch/
    pr = push -u origin HEAD
    # deletes local branches merged to master
    #brclean = branch --merged master | grep -v "^\* master" | xargs -n 1 -r git branch -d

[push]
    default = simple
	autoSetupRemote = true

[branch]
    autosetuprebase = always

[delta]
    line-numbers = true
    side-by-side = true
    #plus-style = "syntax #012800"
    #minus-style = "syntax #340001"
    syntax-theme = OneHalfLight

[interactive]
    diffFilter = delta --color-only

#[init]
#	templateDir = /home/stibi/.git-template

[init]
	defaultBranch = main

[includeIf "gitdir:prusa/"]
    path = .gitconfig-prusa

[rebase]
	autosquash = true

[fixup]
    menu = fzf --height '60%' \
                --bind 'tab:toggle-preview' \
                --preview 'git show --color {+1}' \
                --preview-window=up:80% \
                --prompt 'Select commit: '
